.container 
  #consent-popup.cookies
    h2 Vážime si vaše súkromie 
    
    p Táto stránka používa len analytické a pre fungovanie webu nevyhnutné cookies. Nepoužívame funkčné ani marketingové cookies.
      a(id='accept') Súhlasím a pokračovať
      a(id='decline') Odmietnuť cookies                      
