.container 
  #consent-popup.cookies
    h2 Vážime si vaše súkromie 
    
    p Táto stránka používa len cookies, nevyhnuté pre správne fungovanie webu. Nepoužívame funčné, analytické ani marketingové cookies.
      a(id='accept') Súhlasím a pokračovať
      a(id='decline') Odmietnuť cookies                      
