footer
  .container.ftr-width
    .rad
      .4col
        .copyright
          | &copy; 2022 DVL - Construct
          i.bi.bi-envelope-fill   moj@email.sk
          i.bi.bi-telephone-fill   0900123456
          i.bi.bi-code-square  
            a.developer(href='https://pictusweb.sk' target='_blank') PICTUSWEB
              p Web development 
      .4col
        .firma
          p DVL - Construct s.r.o.
          p IČO:
          p DIČ:
      .4col
        .firma
          i.bi.bi-card-text 
            a(href='/gdpr')  GDPR
          i.bi.bi-r-square 
            a(href='/tradeRules')  Obchodné podmienky
        
          //a(href='/')  Cookies
      .4col
        .footer-logo
          img.footer-logo-img(src='/public/img/wrenches.png' alt='')