footer
  - let date = Date().substring(11, 15)
  .container.ftr-width
    .rad
      .fourCols
        .copyright
         
          i.bi.bi-envelope-fill   info@kvalitnamontaz.sk
          i.bi.bi-telephone-fill   0908 564 435
          | &copy; #{date} kvalitnamontaz.sk
          i.bi.bi-code-square  
            a.developer(href='https://pictusweb.sk' target='_blank') PICTUSWEB
              p Development 
      .fourCols
        .firma.contact
          p kvalitnamontaz.sk
          p IČO:
          p DIČ:
      .fourCols
        .firma
          i.bi.bi-r-square 
            a(href='/tradeRules')  Obchodné podmienky
          i.bi.bi-card-text 
            a(href='/gdpr')  GDPR
        
          //a(href='/')  Cookies
      .fourCols.fourthIcon
        .footer-logo
          img.footer-logo-img(src='/public/img/wrenches.png' alt='')