nav.navbar.navbar-expand-lg.dvl-bg.mobile-only
  .container.add-fluid-90
    img.logo(src='/public/img/TD-logo.png')
    a.navbar-brand.dvl-brand(href='/')
      
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav.ml-auto
        //- a.nav-link(aria-current='page' href='/') Domov
        a.nav-link(href='/#services') Služby
        a.nav-link(href='/#reviews') Recenzie
        a.nav-link(href='/#contact') Kontakt