doctype html
html 
  head
   block head
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-KGHK9P41X3')
  script.
    window.dataLayer = window.dataLayer || []
    function gtag(){dataLayer.push(arguments)}
    gtag('js', new Date())
    gtag('config', 'G-KGHK9P41X3')
    
  link(rel='shorcut icon' type='image/png' href='/public/img/wrenches.png')
  link(rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='/public/css/styles.css')
  link(rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer")
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lora:300,300i,700')
  title kvalitnamontaz.sk
  meta(name="google-site-verification" content="3bQ5tlA-YSk11ghMZHcaQIz3TBczgkPixrfOZcb7hWU")
    
    
  body 

  include _header

  block content 
    
    #carouselExampleCaptions.carousel.slide(data-bs-ride='carousel')
      .carousel-inner
        .banner-box
          .banner-text
            a(href='/')
              img.logo(src='/public/img/TD-logo.png' alt='kvalitná montáž podlahy')
            h2 KVALITNÁ MONTÁŽ 
            h1 PODLAHY
            h3 Všetky podlahárske práce 
            h3 v Bratislave a okolí
            a.call-us(href='tel:+421908564435')
             h4 Volajte: 0908564435 
        img.carousel-img
        //- .banner-box.mobile-only
        //-   .banner-text.mobile-only
        //-     h1 KVALITNÁ MONTÁŽ PODLAHY
        //-     h3 Všetky podlahárske práve v Bratislave a okolí
        //-     a.call-us(href='tel:+421908564435') Volajte: 0908564435 
        //- img.carousel-img
        //- .carousel-item.active(data-bs-interval="7000")
          //- img.carousel-img(src='/public/img/stock-photo-man-installing-new-laminated-wooden-floor-206436007.jpg' alt='')
          //- img.carousel-img(src='/public/img/parket.jpg' alt='author-jurre-houtkamp-on-unsplash')
        //- .carousel-item(data-bs-interval="7000")
        //-   img.carousel-img(src='/public/img/door.jpg' alt='author-engin-akyurt-on-unsplash')
        //- .carousel-item(data-bs-interval="7000")
        //-   img.carousel-img(src='/public/img/prep.jpg' alt='author-daniel-mccullough-on-unsplash')
          
    #services  
    section.section-1
      .container.custom-mobile 

        .three-services
          .service
            img(src='/public/img/dvl-1of6.jpg' alt='kvalitná montáž všetky podlahárske práce')
            h2 Všetky podlahárske práce 
            p Postaráme sa o pokládku Vašej laminátovej, vinylovej, kompozitnej či drevenej podlahy. Plávajúcim spôsobom aj lepením.
          .service
            img(src='/public/img/dvl-2of6.jpg' alt='kvalitná montáž prípravné a doplnkové práce')
            h2 Prípravné a doplnkové práce 
            p Potrebujete pripraviť priestor pred pokládkou novej podlahy? Odstránime starú podlahovú krytinu. Zabezbečíme nivelizáciu a ďalšie prípravy podkladu.
          .service
            img(src='/public/img/dvl-3of6.jpg' alt='kvalitná montáž práce na mieru')
            h2 Práce na mieru 
            p Potrebujete obloženie schodov, stien či stropov? Dokončovacie alebo opravné práce? Nalepenie a nastrelenie soklových líšt? Stačí zavolať.  
        a.call-us-body(href='tel:+421908564435') Zavolať: 0908564435 
    #reviews    
    section.section-reviews
      .review-cards
        .review-single
          img(src='/public/img/google-icon.jpg' alt='')
          h3.name Peter 
          h6.from Trnávka 
          p.stars ⭐️⭐️⭐️⭐️⭐️
          p.review Rýchle jasné jednanie. Dodržané slovo, termín aj cena. Odporúčam a budem volať znova.
        .review-single
          img(src='/public/img/google-icon.jpg' alt='')
          h3.name Judita 
          h6.from Dúbravka 
          p.stars ⭐️⭐️⭐️⭐️⭐️
          p.review Včasná obhliadka, potom precízna pokládka parkiet. Páni si dali záležať. 
        .review-single
          img(src='/public/img/google-icon.jpg' alt='')
          h3.name Miro 
          h6.from Petržalka 
          p.stars ⭐️⭐️⭐️⭐️⭐️
          p.review Potreboval som osadiť nové dvere a dostal som tento kontakt. Spokojnosť po všetkých stránkach.    
    section.section-1
      .container.custom-mobile 
        .three-services
          .service
            img(src='/public/img/stock-photo--utting-foam-after-mounting-a-door-handyman-knife-cuts-off-excess-mounting-foam-installation-585945983.jpg' alt='kvalitná montáž osadenie zárubní a dverí')
            h2 Osadenie zárubní a dverí 
            p ...
          .service
            img(src='/public/img/dvl-5of6.jpg' alt='')
            h2 Rôzne montážne a stolárske práce 
            p ...
          .service
            img(src='/public/img/dvl-6of6.jpg' alt='kvalitná montáž altánky a prístrešky na mieru')
            h2 Altánky a prístrešky na mieru 
            p ...  
        a.call-us-body(href='tel:+421908564435') Zavolať: 0908564435 
    section.section-summary
      .container.custom-mobile 
        .four-points         
          .two-points
            .one-point
              i.fa-solid.fa-euro-sign
              h3 Bezplatná cenová ponuka
            .point-description  
              h6 Urobíme Vám nezáväznú ponuku zdarma
            .one-point
              i.fa-solid.fa-person
              h3 Individuálny prístup
            .point-description  
              h6 Riešenia na mieru pre Vás
          .two-points    
            .one-point
              i.fa-solid.fa-face-smile
              h3 Zaručujeme 100% spokojnosť
            .point-description  
              h6 Základom našej práce je spokojný zákazník
            .one-point
              i.fa-solid.fa-person-running
              h3 Rýchla reakcia
            .point-description  
              h6 Budeme u Vás čo najskôr!
        a.call-us-four-points(href='tel:+421908564435') Zavolať: 0908564435 
    section.section-about
      .container.custom-mobile 
        .about-box
          .about-text
            h3 Sme mladý a šikovný tím remeselníkov s bohatými skúsenosťami najmä však s nadšením pre svoju profesiu. Vaša spokojnosť je prvoradá. Kvalitne odvedená práca je samozrejmosťou.
            h4 Vaša kvalitná montáž. 
        a.call-us-summary.mobile(href='tel:+421908564435') Zavolať: 0908564435 
      


    section#contact.section-2
      .container.add-fluid-90
        .contact
          h3 Kontaktujte nás. 
          h3 Všetko ostatné vyriešime za Vás.
          h1.contact-msg #{msg} 
          h1.contact-warning #{warning}
          .container.add-fluid
            include _formFragment
            
          h1.hidden #{clicks} 
      button.scrollToTopBtn ^

           
          
          
  include _cks
  include _footer 


  script(src="/node_modules/@popperjs/core/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous")
  script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous")
  
  script(src='/public/cookies.js') 


  
  
